@include phone {
}
@include phone-pad {
  header {
    .header-content {
      .user-profile {
        transform: scale(0.8);
      }
      .project-num {
        right: 30px !important;
      }
    }
    .project-types {
      margin-top: 20px;
      justify-content: none;
      bottom: -20px !important;
      left: 50%;
      transform: translate(-70%, 0) scale(0.8);
    }
  }
  .filters {
    display: flex;
    justify-content: space-around;
    margin-top: 25px !important;
    height: 150px !important;
    .filter-search,
    .filter-tags,
    .filter-sort,
    .filter-order {
      margin-bottom: 5px;
      width: 320px !important;
    }
  }
  .project {
    justify-content: center;
    .loader-screen{
      margin-top: 10px !important;
    }
    .loader {
      top: 30% !important;
      transform: translate(-50%, -50%) scale(0.5) !important;
    }
  }
}
@include pad {
  .project{
    width: calc(100% - 60px) !important;
    justify-content: space-around;
    .loader{
      top: 30% !important;
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
  .filters {
    height: 100px !important;
    .filter-search,
    .filter-tags {
      margin-bottom: 5px;
      width: 320px !important;
    }
  }
}
@include pc {
}
